<link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>


<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div> 
<ion-app >
 

  <ion-header   slot="secondary" class="header" >
    
    <ion-item class="header-item" >
      <!-- <div class="had">
        <h1 class="had-r1">BUSINESSE <span class="had-amp">TO</span> BUSINESSE</h1>
       </div>   -->

      <ion-button [routerLink]="['/projects-overview-co/Aktuelle-Projekte']"  color="dark">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
  
      <ion-button  [routerLink]="['/project-menu']"  color="dark">
        <ion-icon name="book"></ion-icon>
      </ion-button>
  
      <ion-button slot="end" [routerLink]="['/user-profil']"    color="dark">
        <ion-icon name="person"></ion-icon>
      </ion-button>
  
  
  
    <ion-searchbar color="light" class="searchbar-input-container" mode="ios" style="color: black;"> </ion-searchbar>
  
      <ion-button id="login"  href="login.page.html" >Login</ion-button>
      
    </ion-item>
  </ion-header>
  <ion-item>
    <ion-label>Filter</ion-label>
    <ion-select   interface="popover">
                                                    <!-- [(ngModel)]="toppings" multiple="true" -->
      <ion-select-option value="Standort">Standort</ion-select-option>
      <ion-select-option value="Bewertung">Bewertung</ion-select-option>
      <ion-select-option value="Bezahlung ">Bezahlung </ion-select-option>
      <ion-select-option value="NeusteEinträge">Neuste Einträge</ion-select-option>
      
    </ion-select>
    </ion-item>
  
  <body class="router">
    <ion-router-outlet ></ion-router-outlet>
  </body>
  </ion-app> 
  
  
